﻿@model IEnumerable<ASPMaster.Models.Produit>
@{
    ViewBag.Title = "Index";
    <br />
}

<div class="row">
    <div class="col-lg-4">
        <img class="img-responsive" src="~/Content/tmp/homme1.jpg" alt="Generic placeholder image" style="width: 350px; height: 250px;">
        <h2>Vêtements hommes </h2>
        <p>Les hommes n'ont pas besoin d'une grande garde-robe pour paraître au top...
        <p><a class="btn btn-default" href="/Home/listerProduitType?type=Homme" role="button">Détails »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-responsive" src="~/Content/tmp/femme.png" alt="Generic placeholder image" style="width: 350px; height: 250px;">
        <h2>Vêtements femmes </h2>
        <p>Qui a dit que la mode est éphémère ? Car il n’y a rien d’éphémère...
        <p><a class="btn btn-default" href="/Home/listerProduitType?type=Femme" role="button">Détails »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="img-responsive" src="~/Content/tmp/enfants.jpg" alt="Generic placeholder image" style="width: 350px; height: 250px;">
        <h2>Vêtements enfants </h2>
        <p>Les parents et la mode enfants ont une chose en commun...
        <p><a class="btn btn-default" href="/Home/listerProduitType?type=Bebe" role="button">Détails »</a></p>
    </div><!-- /.col-lg-4 -->


</div>
<!-- /.row --><br />
@foreach (var produit in Model)
{
    <div class=" col-md-2 col-lg-3">
        <div class="thumbnail">
            <img src="@produit.Image" alt="Computer Man" style="width:250px;height:250px">
            <div class="caption">
                <center>
                    <a href="/Produit/DetailsForUser/@produit.ProduitId" class="btn btn-primary" role="button">Details »</a>
                    <h5>Prix : @produit.Prix</h5>
                    @Html.ActionLink("Ajouter au panier »", "AjouterProduit", "Panier", new { id = @produit.ProduitId }, "")
                </center>
            </div>
        </div>
    </div>
}
<footer>
    <div id="bot">
        <iframe src="https://links.collect.chat/5c03dfde5c854b285067c669" width="300" height="100" frameBorder="0"></iframe>
    </div>
    <p>&copy; @DateTime.Now.Year -.NET project Semester 1 FIA3 G01</p>
</footer>
<style>
    #bot {
        margin-bottom: 20px;
    }

    footer {
        margin-top: -50px;
        height: 300px;
        margin-left: 820px;
        position: fixed;
        background-color: #ff6666;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }

    iframe {
        width: 500px;
        height: 400px;
        padding-bottom: 50px;
    }
</style>