<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Mon Placard</h1>
              <p>Nos conseils ciblés vous permettent de trouver rapidement l'article qui vous convient.
				Avez-vous des questions concernant nos articles ? <a href="/home/Contact/#">Contacter</a></p>
              <p>
              	<a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">S'inscrire</a>
              	<a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">Se connecter</a>
             </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Carte cadeaux</h1>
              <p>La carte cadeau est valable 24 mois à partir de sa date d’émission et peut s’acheter et se valider dans tous les magasins Placard participants. La 		validation dans la boutique en ligne n’est pas possible.
				Veuillez conserver cette carte cadeau, pendant au moins deux ans, avec autant de soin qu’une carte de crédit. Le remplacement ou remboursement de la carte cadeau en cas de perte est exclu.</p>
              <p>
              	<a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">S'inscrire</a>
              	<a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">Se connecter</a>
             </p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Délai de livraison</h1>
              <p>À compter du passage de la commande, il s’écoule un délai d’environ 1 à 3 jours ouvrables avant que celle-ci soit transmise à notre partenaire de livraison, sous réserve de solvabilité. L’envoi prend en règle générale entre 2 et 3 jours ouvrables. Le délai de livraison moyen est donc compris entre 3 et 5 jours ouvrables environ.</p>
              <p>
              	<a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">S'inscriree</a>
              	<a class="btn btn-lg btn-primary" href="http://getbootstrap.com/examples/carousel/#" role="button">Se connecter</a>
             </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="./Content/homme.jpg" alt="Generic placeholder image" style="width: 150px; height: 150px;">
          <h2>Vêtements hommes Placard</h2>
          <p>Les hommes n'ont pas besoin d'une grande garde-robe pour paraître au top. Pour composer le look simple et décontracté qui leur va si bien, ils ont juste besoin du bon mélange de basiques tels que des jeans bleus et des t-shirts et de quelques pièces nobles, comme un costume noir de bonne qualité ou un pull en fine laine mérinos. Sans oublier les quelques vêtements, qu’ils adorent et qu’ils mettent depuis des années. Leurs vêtements préférés aussi personnalisent leur tenue : une chemise inusable coupe classique, une veste en cuir patinée par les années ou des pantalons chino en coton à la fois, confortable et décontracté. Le concept de la mode hommes est simple ! Portez des vêtements dans lesquels vous êtes bien et vous paraissez à Mon avantage. Portez des vêtements qui vous vont bien et Placard offre aux hommes cette liberté.</p>
          <p><a class="btn btn-default" href="http://getbootstrap.com/examples/carousel/#" role="button">Détails »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./Content/femme.jpg"  alt="Generic placeholder image" style="width: 150px; height: 150px;">
          <h2>Vêtements femmes Placard</h2>
          <p>Qui a dit que la mode est éphémère ? Car il n’y a rien d’éphémère dans cette veste cintrée en cuir souple plus beau à mesure que le temps passe ? Ou dans ce jean parfait qui épouse merveilleusement bien les formes de Mon corps, y compris les mauvais jours ? Ou même dans ces bottines ou boots adorés à porter partout et tout le temps et qui vont avec tout ? Basiques, branchés ou intemporels, certains vêtements font simplement partie de notre histoire : des pièces décontractées, de grande qualité, au style naturel et facile à porter. Les grandes tendances ? Elles se démodent vite. Alors que la mode femme est toujours à nos côtés et nous accompagne à tout instant – et c’est ce qui nous sied le mieux.</p>
          <p><a class="btn btn-default" href="http://getbootstrap.com/examples/carousel/#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="./Content/enfant.jpg"  alt="Generic placeholder image" style="width: 150px; height: 150px;">
          <h2>Vêtements enfants Placard</h2>
          <p>Les parents et la mode enfants ont une chose en commun : ils doivent être toujours au top. Tous les jours, toutes les nuits, à la maison comme au parc, lors des câlins, caprices, rêves et jeux. Accroupis dans la rue, en pleine admiration devant un ver de terre ou courant à gorge déployée derrière un ballon, nos enfants vivent uniquement le moment présent. Donnons-leur la liberté de savourer chaque instant - vêtus de jeans ou de pantalons en velours robustes et confortables, de t-shirts en jersey doux et de cardigans moelleux. Chaque jour rime avec nouveauté. Peut-être devrions-nous prendre exemple sur eux ?</p>
          <p><a class="btn btn-default" href="http://getbootstrap.com/examples/carousel/#" role="button">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->