﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./Content/tmp/warning.js"></script>
    <style type="text/css"></style>
    <title>@ViewBag.Title - La redoute</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body> 
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Mon panier", "Index", "Panier")</li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Type <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Home/listerProduitType?type=Homme">Hommes</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitType?type=Femme">Femmes</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitType?type=Bebe">Enfants</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Catégorie <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Home/listerProduitCategorie?categorie=Jean">Jean</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Chemise">Chemise</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Doudoune">Doudoune</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Gillet">Gillet</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Pontalon">Pontalon</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Pule">Pule</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Robe">Robe</a></li>
                            <li class="divider"></li>
                            <li><a href="/Home/listerProduitCategorie?categorie=Short">Short</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

       

    </div>
 


    <script src="./Content/tmp/jquery.min.js"></script>
    <script src="./Content/tmp/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./Content/ie10-viewport-bug-workaround.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>


</html>
